.login {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  .lgbg {
    width: 1200px;
    height: 720px;
    .part {
      width: 364px;
      height: 100%;
      padding: 140px 20 0px 20px;
      background-color: white;
      margin-left: auto;
      .title {
        margin-bottom: 50px;
        padding-top: 100px;
        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        h2 {
          text-align: center;
          color: #027cc5;
          margin-top: 40px;
        }
      }
      .usernameAndPassword {
        width: 80%;
        display: flex;
        // justify-content: center;
        margin-bottom: 20px;
      }
    }
  }
}
