.idea/
*.iml
*.class
.DS_Store
.vscode/

target/
**/target/
bin/
**/bin/
*.log

node_modules/
**/node_modules/
FrontEnd/my-app/node_modules/
dist/
**/dist/
build/
**/build/
.local
.env*
npm-debug.log*

**/test-output/